@model AddRolesViewModel

@{
    ViewData["Title"] = "addRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="addRoles" method="post">
    @Html.AntiForgeryToken()
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">User Role</h2>
                <h3>@Model.UserName</h3>
            </div>
        </div>

        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="UserName" value="@Model.UserName" />

        <table id="roleTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Role Id</th>
                    <th>Role Name</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <tr class="table-primary">
                        <td>
                            <input type="hidden" name="Roles[@i].roleId" value="@Model.Roles[i].roleId" />
                            @Model.Roles[i].roleId
                        </td>
                        <td>
                            <input type="hidden" name="Roles[@i].roleName" value="@Model.Roles[i].roleName" />
                            @Model.Roles[i].roleName
                        </td>
                        <td>
                            <input type="checkbox" name="Roles[@i].useRole" value="true" @(Model.Roles[i].useRole ? "checked" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
    </div>
</form>

@section Scripts {
    <script>
        // مش محتاجين أي كود جافاسكريبت خلاص ✅
    </script>
}
